@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    
}

:root {
    --fonte1: Verdana, 'Geneva', Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

header {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    display: block;
    font-family: var(--fonte2);
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
}

header p {
    font-family: var(--fonte1);
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

header a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.q1 {
    background-color: white;
}

section.q2 {
    color: white;
    background-image: url('../imagens/background001.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.41);
}

.q2 > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.532);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.q3 {
    background-color: white;

}

section.q4 {
    color: white;
    background-image: url('../imagens/background002.jpg');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.41);
}

.q4 > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.532);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.q5 {
    background-color: white;

}

footer {
    font-family: var(--fonte1);
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer a:hover {
    text-decoration: underline;
}